/* Animations */
.nr-scroll-animation {
  opacity: 0;
  transform: translateY(var(--nr-animation-transform-y, 20px));
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.nr-scroll-animation.animated {
  opacity: 1;
  transform: translateY(0);
}