/* Base Styles */
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--body-font);
  margin: 0;
  padding-top: var(--header-height);
  transition: background-color var(--transition-standard), color var(--transition-standard);
}

a {
  color: var(--text-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 22px;
}